version: '3.8'

services:

  esup-nfc-tag-app:
    depends_on:
      - esup-nfc-tag-build
      - my-ldap
    build:
        context: ./docker/esup-nfc-tag-app
    volumes:
      - ./config/esup-nfc-tag/tomcat/server.xml:/usr/local/tomcat/conf/server.xml
      - esup-nfc-tag-vol:/opt/esup-nfc-tag-server

  esup-nfc-tag-build:
    depends_on:
      my-db:
        condition: service_healthy
    build:
      context: ./docker/esup-nfc-tag-build
    volumes:
      - ./config/esup-nfc-tag:/docker-config/
      - esup-nfc-tag-vol:/opt/esup-nfc-tag-server
      - m2-vol:/root/.m2

  esup-nfc-tag-front:
    hostname: esup-nfc-tag.localhost  
    depends_on:
      - esup-nfc-tag-app
      - my-reverse-proxy
    build:
      context: ./docker/shib-front
    environment:
      ####### APACHE SECTION #######
      - SERVICE_TO_PROTECT=esup-nfc-tag-app
      - SERVICE_PORT=8309
      ####### SHIBBOLETH SECTION #######
      - HOSTNAME=esup-nfc-tag.localhost
      - IDP_ENTITY_ID=http://idp.localhost/idp/shibboleth
      - IDP_METADATA_URL=http://idp.localhost/idp/shibboleth
      - SHIB_METADATA_BACKUP_URL=http://esup-nfc-tag.localhost/saml/idp
      - SHIB_DOWNLOAD_METADATA=true
    healthcheck:
      test: [ "CMD-SHELL", "curl -f -LI http://esup-nfc-tag.localhost/Shibboleth.sso/Metadata" ]
      interval: 5s
      timeout: 5s
      retries: 10
    labels:
      - traefik.http.routers.esup-nfc-tag-front.rule=Host(`esup-nfc-tag.localhost`)
      - traefik.http.services.esup-nfc-tag-front.loadbalancer.server.port=80      
      - traefik.enable=true
    volumes:
      - ./config/esup-nfc-tag-front:/docker-config

  esup-sgc-app:
    depends_on:
      - esup-sgc-build
      - my-ldap
    build:
        context: ./docker/esup-sgc-app
    volumes:
      - ./config/esup-sgc/tomcat/server.xml:/usr/local/tomcat/conf/server.xml
      - esup-sgc-vol:/opt/esup-sgc

  esup-sgc-build:
    depends_on:
      my-db:
        condition: service_healthy
    build:
      context: ./docker/esup-sgc-build
    volumes:
      - ./config/esup-sgc:/docker-config
      - esup-sgc-vol:/opt/esup-sgc
      - m2-vol:/root/.m2

  esup-sgc-front:
    hostname: esup-sgc.localhost  
    depends_on:
      - esup-sgc-app
      - my-reverse-proxy
    build:
      context: ./docker/shib-front
    environment:
      ####### APACHE SECTION #######
      - SERVICE_TO_PROTECT=esup-sgc-app
      - SERVICE_PORT=8209
      ####### SHIBBOLETH SECTION #######
      - HOSTNAME=esup-sgc.localhost
      - IDP_ENTITY_ID=http://idp.localhost/idp/shibboleth
      - IDP_METADATA_URL=http://idp.localhost/idp/shibboleth
      - SHIB_METADATA_BACKUP_URL=http://esup-sgc.localhost/saml/idp
      - SHIB_DOWNLOAD_METADATA=true
    healthcheck:
      test: [ "CMD-SHELL", "curl -f -LI http://esup-sgc.localhost/Shibboleth.sso/Metadata" ]
      interval: 5s
      timeout: 5s
      retries: 10
    labels:
      - traefik.http.routers.esup-sgc-front.rule=Host(`esup-sgc.localhost`)
      - traefik.http.services.esup-sgc-front.loadbalancer.server.port=80      
      - traefik.enable=true
    volumes:
      - ./config/esup-sgc-front:/docker-config

  my-ldap:
    image: osixia/openldap:1.5.0
    environment:
      LDAP_DOMAIN: "univ-ville.fr"
    command: --copy-service
    volumes:
      - ./config/ldap/eduperson.schema:/container/service/slapd/assets/config/bootstrap/schema/eduperson.schema
      - ./config/ldap/schac.schema:/container/service/slapd/assets/config/bootstrap/schema/schac.schema
      - ./config/ldap/supann-2021-10-01.schema:/container/service/slapd/assets/config/bootstrap/schema/supann-2021-10-01.schema
      - ./config/ldap/data.ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom/data.ldif
    ports:
      - 3890:389

  my-db:
    build:
      context: ./docker/postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST_AUTH_METHOD: password
    ports:
      - 4432:5432
    volumes:
      - ./config/postgres/init:/docker-entrypoint-initdb.d
      - my-db-vol:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  my-pgadmin:
    image: dpage/pgadmin4
    restart: always
    depends_on:
      my-db:
        condition: service_healthy
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: "dbadmin@univ-ville.fr"
      PGADMIN_DEFAULT_PASSWORD: "esup"
    volumes:
      - ./config/pgadmin/servers.json:/pgadmin4/servers.json
      - ./config/pgadmin/pgpass:/pgpass

  my-shib-idp:
    hostname: idp.localhost
    build:
      context: ./docker/shib-idp
    depends_on:
      esup-sgc-front:
        condition: service_healthy
      esup-nfc-tag-front:
        condition: service_healthy
    labels:
      - traefik.http.routers.my-shib-idp.rule=Host(`idp.localhost`)
      - traefik.http.services.my-shib-idp.loadbalancer.server.port=80
      - traefik.enable=true
    volumes:
      - ./config/shib-idp/server.xml:/usr/local/tomcat/conf/server.xml
      - ./config/shib-idp/attribute-resolver.xml:/opt/shibboleth-idp/conf/attribute-resolver.xml
      - ./config/shib-idp/idp.properties:/opt/shibboleth-idp/conf/idp.properties
      - ./config/shib-idp/ldap.properties:/opt/shibboleth-idp/conf/ldap.properties
      - ./config/shib-idp/attribute-filter.xml:/opt/shibboleth-idp/conf/attribute-filter.xml
      - ./config/shib-idp/idp-metadata.xml:/opt/shibboleth-idp/metadata/idp-metadata.xml
      - ./config/shib-idp/metadata-providers.xml:/opt/shibboleth-idp/conf/metadata-providers.xml

  my-reverse-proxy:
    image: traefik:v2.11
    command: --api.insecure=true --providers.docker --providers.docker.exposedbydefault=false --entrypoints.web.address=:80
    ports:
      - "80:80"
      # The Web UI (enabled by --api.insecure=true)
      - "7080:8080"      
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  esup-nfc-tag-vol:
  esup-sgc-vol:
  m2-vol:
  my-db-vol:
